html {
  color: #222;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  transition: font-size 0.5s ease-in-out;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 0.875em;
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 0.75em;
  }
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 1rem;
  line-height:1.2;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

p,
pre {
  margin: 0 0 1rem;
}

a {
  color: #007bff;
  text-decoration: underline;
}

a:hover {
  color: $link-h;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

address {
  font-style: normal;
}
button {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #888;
  background-color: #eee;
  background-image: linear-gradient(transparent, rgba(0,0,0,0.1));
  cursor: pointer;
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}
